@media screen and (orientation:portrait){
	#floor_selector, #rotate_factor{
		display: none;
	}
}
#floor_selector {
	position: absolute;
	right: 0;
	bottom: 0;
}

#rotate_factor{
	position: absolute;
	bottom: 10%;
}

.rorate span{
  display: inline-block;
  vertical-align: middle;
}

.rorate a:link, .rorate a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-radial-gradient(#fff, #555); 
  background-image: -moz-radial-gradient(#f7f7f7, #e7e7e7); 
  background-image: -ms-radial-gradient(#f7f7f7, #e7e7e7); 
  background-image: -o-radial-gradient(#f7f7f7, #e7e7e7); 
  color: #333;
  margin: 36px;
  width: 63px;
  height: 63px;
  position: relative;
  text-align: center;
  line-height: 63px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}
.rorate a:before {
  content: "";
  display: block;
  /*background: #fff;*/
  border: 2px solid #ccc;
  position: absolute;
  top: -20%;
  left: -20%;
  bottom: -20%;
  right: -20%;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}
.rorate a:active {
  /*box-shadow: none;*/
  border: solid 1px #d0d0d0;
  background-image: -webkit-radial-gradient(#fff, #888); 
  background-image: -moz-radial-gradient(#f7f7f7, #e7e7e7); 
  background-image: -ms-radial-gradient(#f7f7f7, #e7e7e7); 
  background-image: -o-radial-gradient(#f7f7f7, #e7e7e7); 
}

.simple a:link, .simple a:visited{
	width: 45px;
	height: 45px;
	line-height: 45px;
}

#simple_rorate{
	position: relative;
	left: -8%;
}
#contra_rorate {
	position: relative;
	left: -32%;
}
